* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrp {
  margin: 0 auto;
  width: 400px; }

.group-campus__item {
  border-bottom: 1px solid white;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  cursor: pointer;
  background-color: lightgrey; }
  .group-campus__item:hover {
    opacity: .9; }

.campus__title {
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  border-bottom: 1px solid black; }

.campus__user {
  margin-bottom: 5px;
  padding: 10px; }
